modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
PORT = "5000"
API_PREFIX = "api/v1"
CORS_ORIGINS = "*"
NODE_ENV = "development"
JWT_ACCESS_EXPIRES_IN = "15m"
JWT_REFRESH_EXPIRES_IN = "30d"
LOG_LEVEL = "debug"
MONGODB_DB_NAME = "siraja"
THROTTLE_LIMIT = "100"
THROTTLE_TTL = "60"
EMAIL_FROM = "noreply@siraja.website"
EMAIL_FROM_NAME = "Siraja"
EMAIL_HOST = "server222.web-hosting.com"
EMAIL_PORT = "465"
EMAIL_SECURE = "true"
EMAIL_USER = "noreply@siraja.website"
STORAGE_DRIVER = "s3"
STORAGE_REGION = "auto"
SUPPORT_EMAIL = "support@siraja.website"
STORAGE_SECRET_ACCESS_KEY = "dc"
STORAGE_ENDPOINT = "ced"
STORAGE_BUCKET = "wc"
STORAGE_ACCESS_KEY_ID = "https://f68fbbbd24fd2b57df2f1a4f7e10d913.r2.cloudflarestorage.com"
REDIS_URL = "rediss://default:gQAAAAAAAofnAAIgcDFiNDBmMDJlMTA5N2M0MWViOTNlODIzMTMxZGIyZmQxMQ@classic-llama-165863.upstash.io:6379"
MOONSHOT_API_KEY = "sk-IKxbiZ9YXZFoFJ0eHSswqjx3Utz5QTwSWPrqXB4hJb8yKOh0"
MONGODB_URI = "mongodb+srv://seraj:seraj123@seraj.wsvkbh2.mongodb.net/?appName=seraj"
JWT_REFRESH_SECRET = "ctc7tctccccyffff7f7tf87f8f8f7"
JWT_ACCESS_SECRET = "8gygtvttu8fvttyc7tc7tcct7c7c7ct"
EMAIL_PASS = "ASDfgh@13579"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8899
externalPort = 3001

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && PATH=\"/home/runner/workspace/backend/node_modules/.bin:$PATH\" nest start"
waitForPort = 5000
